:root {
    --white-color: #FEFEFE;
    --light: #667085;
    --lighter: #4E576A;
    --dark: #363C48;
    --darker: #0A0E15;
    --Poppins: "Poppins", serif;
    --filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(202deg) brightness(107%) contrast(107%);
}

.sidebar{
    height: calc(100vh - 7vh);
    width: 20vmax;
    background-color: var(--light-dark);
}

.hd-inr-cnt{
    /* border: 1px solid; */
    width: 100%
}

.upld-btn-cnt{
    height: 8vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upld-btn{
    position: relative;
    height: 3.5vmax;
    width: 14.5vmax;
    font-size: 1.2vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5vmax;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background: linear-gradient(90deg, #212631, #0A0E15);
    color: var(--white-color);
    transition: 0.2s;
}

.upld-btn:hover{
    opacity: 0.9;
}

.btn-add-ico{
    width: 1.2vmax;
    filter: var(--filter);
}

.usrnm-cnt{
    height: 5vmax;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5vmax;
}

.usrnme{
    font-size: 1.1vmax;
    font-family: var(--Poppins);
    color: var(--white-color);
    font-weight: 500;
}

.sidebarMenu{
    position: relative;
    height: 1.5vmax;
    width: 1.5vmax;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.sidebarMenuIco{
    width: 100%;
    filter: var(--filter);
}

.nav-lnk-cnt{
    height: 30vmax;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2vmax;
}

.sidenav{
    position: relative;
    height: 12vmax;
    width: 90%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.sidebarUl {
    list-style: none;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vmax;
}

li.sidebarLi{
    display: block;
    width: 90%;
}

.sidebarNavIco{
    width: 1.1vmax;
    filter: var(--filter);
}

a.sidebarAnchor{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5vmax;
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--Poppins);
    font-size: 1.1vmax;
    background-color: transparent;
    padding: .2vmax .5vmax;
    border-radius: 5px;
}

a.sidebarAnchor:hover{
    background-color: #66708541;
}

a.sidebarAnchor::after{
    position: absolute;
    content: '';
    height: 0%;
    width: 5px;
    border-radius: 3px;
    background-color: var(--darker);
    left: -15px;
    transition: 0.3s;
}

a.sidebarAnchor:hover::after{
    height: 100%;
}

a.activeAnchor{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5vmax;
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--Poppins);
    font-size: 1.1vmax;
    background-color: var(--light);
    padding: .2vmax .5vmax;
    border-radius: 5px;
}

a.activeAnchor:hover{
    background-color: var(--light);
}

a.activeAnchor::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 5px;
    border-radius: 3px;
    background-color: var(--darker);
    left: -15px;
    transition: 0.3s;
}